// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);

$primary-color: #f9da67;
$gray-color: #cac9c9;

$w-color: #ffffff;
$b-color: #000000;

$bg-color-1: #f9f9f9;
$bg-color-2: #f9f5f2;
$bg-color-3: #ececec;
$bg-color-4: #f8f6f4;
$bg-color-5: #f8f5f2;
